# SPDX-License-Identifier: GPL-2.0-only
config VIDEO_LINLON
	tristate "Linlon VPU support"
	depends on VIDEO_DEV
	select VIDEOBUF2_DMA_SG
	select VIDEOBUF2_MEMOPS
	default y
	help
	  This enables support for the Linlon VPU family.

config VIDEO_LINLON_FTRACE
	bool "Send kernel space logs to ftrace"
	depends on VIDEO_LINLON
	default n
	help
	  Send kernel space logs to ftrace.

config VIDEO_LINLON_PRINT_FILE
	bool "Append file and line number to kernel space log messages"
	depends on VIDEO_LINLON
	default y
	help
	  Append file and line number to kernel space log messages.
